@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
@import url('https://i.imgur.com/egKrTm7.jpg');

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  padding-bottom: 250px;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

:root {
  --background-color: #1d211c;
  --white: #64e011;
  --tw-color1: #64e011;
  --tw-color1-hover: #95ea33;
}

body {
  
  background-image: url(https://i.imgur.com/egKrTm7.jpg);
  background-size: cover;
  background-position: center;
  font-family: "Inter", sans-serif;
  color: var(--white);
  display: flex;
  margin: 0;
  text-align: center;
}

h2 {
  font-size: 2rem;
}

.wallet-adapter-button-trigger {
  background-color: #64e011;
}

.transparentbox {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  text-align: center;
  display: flex;
  grid-template-columns: 1fr;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}


@media (max-width: 767px){
.greentext {
  text-align: center;
  display: block;
  color: #64e011;
  }
}

.center {
  display: grid;
  align-items: center;
  justify-content: center;
}